html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  overflow-y: auto;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.app-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
